@font-face {
    font-family: myfont;
    src: url(MadLines.ttf);
}

.heading{
    background-image: linear-gradient(to bottom, #20fc03 , rgb(0, 0, 0));
    height: 400px;
    margin-top: 0px;
}

#GFG {
    color: #20fc03;
    font-size: large;
    font-size: 30px;
    border: #20fc03 2px solid;
    border-left-color: transparent ;
    border-right-color: transparent ;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #000000;
}

li {
float: left;
}

li a {
display: block;
color: #20fc03;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover:not(.active) {
background-color: #20fc03;
color: black;
border-radius: 10px;
}

.active {
background-color: #ff0000;
}
