@font-face {
    font-family: myfont;
    src: url(MadLines.ttf);
}

.heading{
    background-image: linear-gradient(to bottom, #20fc03 , rgb(0, 0, 0));
    height: 400px;
    margin-top: 0px;
}

#GFG {
    color: #20fc03;
    font-size: large;
    font-size: 30px;
    border: #20fc03 2px solid;
    border-left-color: transparent ;
    border-right-color: transparent ;
}

